:root {
  --primary-color: #2a7ae2;
  --secondary-color: #f4f4f4;
  --text-color: #333;
  --background-color: #fff;
}
/* :root.dark {
  --primary-color: rgb(9, 255, 0);
  --secondary-color: #121212;
  --text-color: #fff;
  --background-color: #121212;
} */

body {
  font-family: "Gilda Display", serif;
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin-top: 0px;
}
h1 {
  font-family: "Literata", serif;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 30px;
  margin-top: 0px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 28px;
}
.subtitle {
  opacity: 0.5;
  font-style: italic;
}
.content {
  font-size: 21px;
  font-family: "Gilda Display", serif;
  padding: 45px;
}
/* .secondary {
  font-family: 'Mate SC', serif;
} */

.posts-list {
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.post-card {
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
}
.post-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.post-card span {
  opacity: 0.5;
  text-align: right;
  display: inline-flex;
}

.site-header {
  border-top-color: transparent;
  border-bottom: 0px;
}
.site-footer {
  border-top: 0px;
}
.footer-heading {
  display: none;
}
.footer-col-wrapper * {
  text-align: center;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-box {
  width: 40%;
  max-width: 600px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  font-size: 14px;
}
.search-box:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-color);
}

#theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}

#theme-toggle:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#theme-toggle .light {
  display: none;
}

/* Dark Mode */

body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark a {
  color: white;
}

body.dark .stie-title, body.dark .site-title:visited {
  color: #ffffff;
}

body.dark .site-nav a {
  color: #ffffff;
}

body.dark .site-nav {
  background-color: #121212;
  border: none;
}

body.dark .site-nav a:hover {
  color: rgb(9, 255, 0);
}

body.dark .post-card {
  background-color: #1e1e1e;
  box-shadow: none;
}

body.dark .highlight {
  background-color: #1e1e1e;
  border: none;
}

body.dark .post-card a {
  color: rgb(9, 255, 0);
}

body.dark code {
  color: rgb(9, 255, 0);
  background-color: #1e1e1e;
  border: none;
}

body.dark .post-card:hover {
  box-shadow: 0 0 20px 5px rgba(9, 255, 0, 0.2);
}

body.dark h1, body.dark h2, body.dark h3 {
  color: #ffffff;
}

body.dark .subtitle {
  opacity: 0.5;
}

body.dark th {
  background-color: #ffffff;
}
body.dark td {
  background-color: #f4f4f4;
}

#theme-toggle {
  background-color: #ffffff;
}

body.dark #theme-toggle {
  background-color: #1e1e1e;
}

body.dark #theme-toggle .dark {
  display: none;
}

body.dark #theme-toggle:hover {
  box-shadow: 0 0 20px rgb(9, 255, 0);
}

body.dark .search-box {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 0px;
  border-radius: 0;
  border-bottom: 1px solid #919191;
}

body.dark .search-box:focus {
  border-bottom: 1px solid rgb(9, 255, 0);
}

/* Smaller screen */
@media screen and (max-width: 768px) {
  .title-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .search-box-container {
    display: flex;
    justify-content: center;
    width: 85vw;
    margin: auto;
    margin-bottom: 0px;
  }
  .search-box {
    width: 90%;
    max-width: none;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .search-box:focus {
    border: 0px;
    border-bottom: 1px solid var(--primary-color);
  }
}
